INSTALL_RESOURCES_0=requirements.txt
INSTALL_RESOURCES_1=README.md
INSTALL_RESOURCES_2=src/
INSTALL_RESOURCES_3=README.md # dummy
INSTALL_RESOURCES_4=llm_docker_setting_pub/
INSTALL_RESOURCES_5=README.md # dummy
INSTALL_RESOURCES_6=README.md # dummy
INSTALL_RESOURCES_7=README.md # dummy
INSTALL_RESOURCES_8=pyproject.toml
INSTALL_RESOURCES_9=README.md # dummy
INSTALL_RESOURCES_10=README.md # dummy
INSTALL_RESOURCES_11=README.md # dummy
INSTALL_RESOURCES_12=README.md # dummy
INSTALL_RESOURCES_13=README.md # dummy
INSTALL_RESOURCES_14=README.md # dummy
ENTRYPOINT_SCRIPT=entrypoint.sh
HEALTHCHECK_SCRIPT=healthcheck.sh
