aiohttp
aiosignal
altair
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
cfgv
charset-normalizer
click
codeboxapi
colorama
comm
dataclasses-json
debugpy
decorator
defusedxml
distlib
distro
entrypoints
executing
fastjsonschema
filelock
fqdn
frozenlist
ghp-import
gitdb
gitpython
google-generativeai
h11
httpcore
httpx
identify
idna
iniconfig
ipykernel
ipython
ipython-genutils
isoduration
isort
jedi
jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-events
jupyter-kernel-gateway
jupyter-server
jupyter-server-terminals
jupyterlab-pygments
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
markdown
markdown-it-py
markupsafe
marshmallow
matplotlib-inline
mdurl
mergedeep
mistune
mkdocs
mkdocs-material
mkdocs-material-extensions
multidict
mypy
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nodeenv
notebook
notebook-shim
numpy
openai
orjson
overrides
packaging
paginate
pandas
pandocfilters
parso
pathspec
pexpect
pillow
platformdirs
pluggy
pre-commit
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydantic
pydantic-core
pydantic-settings
pydeck
pygments
pymdown-extensions
pytest
python-dateutil
python-dotenv
python-json-logger
pytz
pyyaml
pyyaml-env-tag
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruff
send2trash
setuptools
six
smmap
sniffio
soupsieve
sqlalchemy
stack-data
streamlit
tenacity
terminado
tiktoken
tinycss2
toml
toolz
tornado
tqdm
traitlets
types-python-dateutil
typing-extensions
typing-inspect
tzdata
uri-template
urllib3
virtualenv
watchdog
wcwidth
webcolors
webencodings
websocket-client
websockets
yarl